$catShowcase-font: stencilFontFamily('catShowcase-font');
$catShowcase-fontWeight: stencilFontWeight('catShowcase-font');
$catShowcase-backgroundColor: stencilColor('catShowcase-backgroundColor');
$catShowcase-borderColor: stencilColor('catShowcase-borderColor');
$catShowcase-iconInactiveColor: stencilColor('catShowcase-iconInactiveColor');
$catShowcase-iconActiveColor: stencilColor('catShowcase-iconActiveColor');