.productInfoBlocks {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(1, 1fr);
    column-gap: spacing("base");
    margin-bottom: spacing("double");

    @include breakpoint("medium") {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint("large") {
        grid-template-columns: repeat(3, 1fr);
    }
}

.productInfoBlock {
    background-color: $productInfoBlock-backgroundColor;
    padding: spacing("single");
    position: relative;
    border-radius: 10px;
    border-style: solid;
    border-color: $productInfoBlock-borderColor;
    border-width: 0 2px 2px 0;
    font-family: $productInfoBlock-font;
    font-weight: $productInfoBlock-fontWeight;
    font-size: fontSize("smaller");
    margin-bottom: spacing("single");

    h3 {
        font-family: inherit;
        font-weight: inherit;
        font-size: $productInfoBlock-heading-fontSize;
        margin: 0 0 spacing("base") spacing("double");
    }

    .icon {
        position: absolute;
        top: spacing("single");
        left: spacing("single");

        svg {
            width: 30px;
            height: 30px;
            fill: $productInfoBlock-iconColor;
        }
    }

    @include breakpoint("large") {
        margin-bottom: 0;
    }
}