$productInfoBlock-backgroundColor: stencilColor('productInfoBlock-backgroundColor');
$productInfoBlock-borderColor: stencilColor('productInfoBlock-borderColor');
$productInfoBlock-iconColor: stencilColor('productInfoBlock-iconColor');
$productInfoBlock-font: stencilFontFamily('productInfoBlock-font');
$productInfoBlock-fontWeight: stencilFontWeight('productInfoBlock-font');
$productInfoBlock-heading-fontSize: stencilNumber('productInfoBlock-heading-fontSize');