{{#filter product.custom_fields "VAR:INFO" property="name"}}
    <div class="productInfoBlocks">
        {{#each (split value ",")}}
            {{assignVar "trimmedValue" (trim this)}}

            <div class="productInfoBlock">
                {{#eq (getVar "trimmedValue") "certificate"}}
                    {{> components/products/info-blocks/certificate}}
                {{/eq}}

                {{#eq (getVar "trimmedValue") "warranty"}}
                    {{> components/products/info-blocks/warranty}}
                {{/eq}}

                {{#eq (getVar "trimmedValue") "repairs"}}
                    {{> components/products/info-blocks/repairs}}
                {{/eq}}
            </div>
        {{/each}}
    </div>
{{/filter}}